<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Agile Poker</title>
    </head>
    <body>
        <h1>Hello, I'm Agile Poker</h1>
        <div><a href="/team">Team side </a></div>
        <div><a href="/master">Master side </a></div>
    </body>
</html>
